---
import Layout from "../layouts/Layout.astro";
import TapsContainer from "../components/TapsContainer.astro";
import { API_BASE_URL, SUPPORTED_LANGS, MAIN_LANG, LANG_STRINGS, filterTapsByBarId, toBarPath } from "../utils/g";
import frontpage_image from '/public/frontpage_image.png';
import {Picture} from '@astrojs/image/components';

export async function getStaticPaths() {
    const barsRes = await fetch(`${API_BASE_URL}/api/v1/bars`);
    const bars = await barsRes.json();

    const tapsRes = await fetch(`${API_BASE_URL}/api/v1/taps?limit=-1`);
    const taps = await tapsRes.json();

    const paths = [];

    // Genarate bar-path for each supported language
    SUPPORTED_LANGS.forEach((lang) => {
        bars.forEach((bar) => {
            const path = lang != MAIN_LANG ? `${lang}/${toBarPath(bar)}` : toBarPath(bar);

            paths.push({
                params: { path },
                props: { bar, lang, taps: filterTapsByBarId(taps, bar.bar_id) },
            });
        });
    });

    return paths;
}

const { bar, taps, lang } = Astro.props;
const strs = LANG_STRINGS[lang] // Object with lang strings
---
<Layout title={`${bar.bar_name} | ${bar.bar_city}`} lang={lang}>

    <header aria-label={bar.bar_name} class="min-h-screen flex justify-center items-center flex-col">
        <h1 class="text-5xl font-medium leading-none">{bar.bar_name}</h1>
        <address class="font-medium not-italic leading-none mb-8">
            {bar.bar_street} - {bar.bar_zip_code}{bar.bar_city}
        </address>
        <Picture class="mb-6" src={frontpage_image} widths={[200, 400, 600]} sizes="(max-width: 600px) 100vw, 600px" alt="" />
        <a class="font-medium underline" href="#beers">{strs.beersLink}</a>
    </header>

    <section id="beers" aria-label={strs.beers} class="p-4 mx-auto max-w-sm sm:max-w-md md:max-w-none">
        <h2 class="text-2xl mb-4">{strs.beers}</h2>
        <TapsContainer taps={taps} lang={lang} strs={strs}/>
    </section>

</Layout>
