---
import { toBeerPath } from "../utils/g"
const { tap } = Astro.props
const {
    tap_number,
    beer_name, 
    beer_style_name, 
    brewery_name,
    beer_alc,
    beer_ibu,
    beer_ebc,
    beer_price,
    beer_description_en,
    beer_description_dk,
    } = tap
---

<article>
    <h3>{tap_number ? `${tap_number}. ${beer_name}` : beer_name}</h3>
    <p>{beer_style_name} | {brewery_name}</p>
    <p>ALC.: {beer_alc}% <span>|</span> IBU: {beer_ibu} <span>|</span> EBC: {beer_ebc}</p>
    <p>{beer_price} DKK</p>
    {beer_description_en &&
        <details>
            <summary>Read more</summary>
            <p>{beer_description_en}</p>
        </details>
    }
</article>