---
const { tap, lang, strs } = Astro.props

const {
    tap_id,
    tap_number,
    tap_unavailable,
    beer_name,
    beer_alc,
    beer_ibu,
    beer_ebc,
    beer_price,
    beer_image,
    beer_description_en,
    beer_description_dk,
    beer_style_name, 
    brewery_name,
    } = tap
    console.log(tap)

    const beerDescription = lang == "da" ? beer_description_dk : beer_description_en
---

<article>
    <h3 class="text-3xl">{tap_number ? `${tap_number}. ${beer_name}` : beer_name}</h3>
    <p>{beer_style_name} | {brewery_name}</p>
    <p>ALC.: {beer_alc}% <span>|</span> IBU: {beer_ibu} <span>|</span> EBC: {beer_ebc}</p>
    <p>{beer_price} DKK</p>
    {beerDescription &&
        <details>
            <summary>{strs.readMore}</summary>
            <p>{beerDescription}</p>
        </details>
    }
</article>